extends ../_template

block variables
  - var title = 'Slider'
block content
  .wrapper
    .slideBrowse
      .slideBrowse__fon
      .rbgShiftSlider#rbgShiftSlider


    .content
      .carusel-3d(data-gap="20" data-bfc)
        .carusel
          .carusel__slide
            .slide-name-cont
              .slide-name
                .slide-name__item 01
                .slide-name__item GLITH 1
            .slide
              .slide-border
              img.carusel__img(src='assets/img/11.png' data-gray='assets/img/1.png' alt='unknow')
          .carusel__slide
            .slide-name-cont
              .slide-name
                .slide-name__item 02
                .slide-name__item GLITH 2
            .slide
              .slide-border
              img.carusel__img(src='assets/img/22.png' data-gray='assets/img/2.png' alt='unknow')
          .carusel__slide
            .slide-name-cont
              .slide-name
                .slide-name__item 03
                .slide-name__item GLITH 3
            .slide
              .slide-border
              img.carusel__img(src='assets/img/33.png' data-gray='assets/img/3.png' alt='unknow')
          .carusel__slide
            .slide-name-cont
              .slide-name
                .slide-name__item 04
                .slide-name__item GLITH 4
            .slide
              .slide-border
              img.carusel__img(src='assets/img/44.png' data-gray='assets/img/4.png' alt='unknow')
          .carusel__slide
            .slide-name-cont
              .slide-name
                .slide-name__item 05
                .slide-name__item GLITH 5
            .slide
              .slide-border
              img.carusel__img(src='assets/img/55.png' data-gray='assets/img/5.png' alt='unknow')
          .carusel__slide
          .carusel__slide
          .carusel__slide
          .carusel__slide
      .line
        .carusel-numbers
          .carusel-nav
            a(href="#").carusel-nav__item 01
            a(href="#").carusel-nav__item 02
            a(href="#").carusel-nav__item 03
            a(href="#").carusel-nav__item 04
            a(href="#").carusel-nav__item 05
        .linear
          .linear__after
          .linear__ruler
            .linear__container
              .ruler
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
                .mm
          .linear__before

